.link {
  color: teal;
  font-size: 120%;
  box-shadow: none;
  position: relative;
  font-family: "Courier Prime Code";
}

.link:before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 2px solid teal;
  bottom: -4px;
  right: 0;
  transform: scaleX(0);
  transition: 0.2s all;
  transform-origin: 0;
}

.link:hover:before {
  transform: scaleX(1);
}
